### Required setup:

`pip install httpx[http2]`

In [6]:
import httpx
import json

def read_json_from_file(file_path):
  try:
    with open(file_path, 'r') as f:
      data = json.load(f)
    return data
  except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
    return None
  except json.JSONDecodeError:
    print(f"Error: Invalid JSON format in {file_path}")
    return None

url = "https://dw-tap.nrel.gov/batch"
file_path = "test.json"  
json_data = read_json_from_file(file_path)

async with httpx.AsyncClient(http2=True) as client:

    response = await client.request(
      method="GET",
      url=url,
      json=json_data,
      timeout=None
    )

# print only the top of the very long output
print(str(response.content)[:2000])

Error: File not found at test.json
b'{"message": "This endpoint is expecting request data wrapped in a JSON object.", "status": 1}'

In [10]:
import pandas as pd
df = pd.read_csv("/Users/dduplyak/Downloads/location_index.csv.gz")
df

          index   latitude   longitude
0        000000  50.982258 -162.061630
1        000001  51.010925 -162.099060
2        000002  51.039566 -162.136520
3        000003  51.068195 -162.174010
4        000004  51.096817 -162.211580
...         ...        ...         ...
2599772  27ab5c  20.954578  -61.076538
2599773  27ab5d  20.983326  -61.056640
2599774  27ab5e  21.012074  -61.036743
2599775  27ab5f  21.040829  -61.016785
2599776  27ab60  21.069584  -60.996857

[2599777 rows x 3 columns]

In [11]:
import pandas as pd
df = pd.read_csv("/Users/dduplyak/Downloads/000000_2001_all.csv")
df

,time_index,precipitation_0m,pressure_0m,pressure_100m,pressure_200m,pressure_500m,temperature_1000m,temperature_100m,temperature_200m,temperature_2m,...,windspeed_160m,windspeed_180m,windspeed_200m,windspeed_250m,windspeed_300m,windspeed_40m,windspeed_30m,windspeed_500m,windspeed_60m,windspeed_80m
0,0,0.001634,98760.0,97550.0,96340.0,92790.0,-5.50,1.68,0.77,2.54,...,13.71,13.83,13.95,14.22,14.45,12.75,12.65,14.95,12.97,13.18
1,1,-0.000240,98770.0,97560.0,96350.0,92800.0,-5.54,1.65,0.75,2.52,...,13.52,13.64,13.76,14.03,14.25,12.59,12.50,14.75,12.80,12.99
2,2,0.000063,98780.0,97570.0,96360.0,92810.0,-5.58,1.63,0.73,2.50,...,13.47,13.59,13.71,13.98,14.20,12.55,12.46,14.70,12.76,12.94
3,3,0.000150,98790.0,97590.0,96370.0,92820.0,-5.62,1.61,0.70,2.48,...,13.63,13.76,13.87,14.15,14.36,12.71,12.62,14.83,12.91,13.10
4,4,0.000264,98800.0,97600.0,96380.0,92820.0,-5.60,1.56,0.66,2.44,...,13.46,13.57,13.68,13.96,14.19,12.61,12.53,14.68,12.80,12.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,283,0.000000,99750.0,98540.0,97310.0,93730.0,-4.56,2.33,1.30,3.51,...,12.88,13.01,13.12,13.37,13.56,11.90,11.82,13.94,12.10,12.28
284,284,0.000000,99760.0,98550.0,97320.0,93740.0,-4.59,2.32,1.27,3.49,...,12.72,12.84,12.94,13.17,13.34,11.85,11.76,13.71,12.03,12.18
285,285,0.000000,99770.0,98560.0,97330.0,93750.0,-4.63,2.30,1.25,3.48,...,12.67,12.77,12.86,13.07,13.23,11.87,11.79,13.57,12.04,12.18
286,286,0.000000,99740.0,98530.0,97300.0,93720.0,-4.57,2.33,1.29,3.50,...,12.46,12.56,12.66,12.88,13.04,11.61,11.52,13.39,11.79,11.94
287,287,0.000000,99710.0,98500.0,97270.0,93700.0,-4.51,2.36,1.34,3.51,...,12.41,12.52,12.63,12.85,13.02,11.47,11.37,13.36,11.66,11.83